<!doctype html>
<html class="no-js" lang="en"{% if(o.htmlWebpackPlugin.files.manifest) { %} manifest="{%= o.htmlWebpackPlugin.files.manifest %}"{% } %}>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>A Gud Buy Auto Repair</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    {% if (o.htmlWebpackPlugin.files.favicon) { %}
    <link rel="shortcut icon" href="{%=o.htmlWebpackPlugin.files.favicon%}">
    {% } %}

    <script src="{%=o.htmlWebpackPlugin.files.chunks['styles'].entry %}"></script>
    <script src="{%=o.htmlWebpackPlugin.files.chunks['modernizr-bundle'].entry %}"></script>
  </head>
  <body>

    <div id="application"></div>

    <script src="{%=o.htmlWebpackPlugin.files.chunks['app'].entry %}"></script>
  </body>
</html>
